.logros-container {
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.logros-list {
  list-style-type: none;
  padding: 0;
}

.logro-item {
  background-color: #444;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.logro-item:hover {
  transform: scale(1.05);
}

.logro-icon {
  margin-right: 15px;
  font-size: 24px;
  color: #ffcc00; /* Color del ícono */
}

.logro-text h3 {
  margin: 0;
  color: #00bcd4;
}

.logro-text p {
  margin: 5px 0 0;
  color: #ff8a80;
}
.jugador-container {
  margin-bottom: 20px;
  text-align: center;
}

.jugador-container h3 {
  color: #3f5569; /* Color del nombre del jugador */
}

.no-logros {
  text-align: center;
  color: #ff8a80; /* Color del mensaje de no logros */
  font-size: 18px;
  margin-top: 20px;
}