<div class="pregunta-respuesta-container">

  <div class="input-group">
    <label for="pregunta">Pregunta:</label>
    <input type="text" [(ngModel)]="ejercicioJson.pregunta" id="pregunta" placeholder="Escribe la pregunta" required>
  </div>

  <div class="input-group">
    <label for="respuesta">Respuesta:</label>
    <input type="text" [(ngModel)]="ejercicioJson.respuesta" id="respuesta" placeholder="Escribe la respuesta" required>
  </div>

  <div class="input-group">
    <label for="anotacion">Anotación:</label>
    <input type="text" [(ngModel)]="ejercicioJson.respuesta" id="anotacion" placeholder="Anotación (opcional)" required>
  </div>
</div>
