.pregunta-respuesta-container {
  width: 19rem;
  background-color: #272727;

  margin: auto;
  padding: -0.5rem 0rem 0.5rem 0rem;
  text-align: center;
}

.input-group {
  width: 71%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: left;
}

input[type="text"],
select {
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  width: 92%;
  font-size: 16px;
  margin-bottom: 1rem;
}
