.editor-container {
  display: flex;
}

.responsive-textarea {
  width: 800px;
  max-width: 90%;
  box-sizing: border-box;
  padding: 10px; /* Ajusta el padding según sea necesario */
  font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
  background-color: #3f4948 ;
  border-color: black;
  border-radius: 5px;
  color: white;
  /* El color del borde cuando esta seleccionado debe ser negro*/
  outline: none; /* Quita el outline predeterminado */
}

.responsive-textarea:focus {
  border-color: black; /* El color del borde cuando está seleccionado */
  border-width: 2px;
}
