<div class="crud-tema-container">
    <h1>Ejercicios</h1>

    <mat-stepper #stepper orientation="vertical">
        <mat-step [stepControl]="firstFormGroup" errorMessage="Tema requerido.">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Listado de Temas</ng-template>
                <mat-form-field>
                    <mat-label>Tema</mat-label>
                    <mat-select [formControl]="pokemonControl" placeholder="Ej. Logaritmos" formControlName="firstCtrl"
                        required>
                        <mat-option>-- None --</mat-option>
                        @for (group of pokemonGroups; track group) {
                        <mat-optgroup [label]="group.name" [disabled]="group.disabled">
                            @for (pokemon of group.pokemon; track pokemon) {
                            <mat-option [value]="pokemon.value">{{pokemon.viewValue}}</mat-option>
                            }
                        </mat-optgroup>
                        }
                    </mat-select>
                    <mat-label></mat-label>

                </mat-form-field>
                <div>
                    <p>Elige un Tema</p>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" errorMessage="CRUD vacio.">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>CRUD Action</ng-template>
                <mat-form-field>
                    <mat-label>Tema</mat-label>




                    <input matInput placeholder="Tema 1" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <p>Elige un Tema</p>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>

</div>

<form>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                No.
            </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                Weight
            </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                Symbol
            </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</form>