/* Ajusta el CSS para mejorar la separación y alineación */
.container {
  padding: 5rem;


  /*display: flex; TAMAÑO CARDS DENTRO DE HOME */ 
  flex-direction: column;
  align-items: center; /* Centrar los elementos horizontalmente */
  justify-content: center;
}

.mat-drawer-inner-container ng-tns-c2033655494-0 {
  background: black;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-mdc-list-base {
  display: flex;
  flex-wrap: wrap;
}

.mdc-list-item__primary-text {
  width: 50%;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: var(--mat-list-active-indicator-shape);
  --mat-mdc-focus-indicator-border-radius: var(
    --mat-list-active-indicator-shape
  );
  height: 3rem;
}

.mat-list-item {
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 2rem 3rem; /* Ajusta el espacio alrededor de los elementos */
}

.item-content {
  pointer-events: auto;
  margin: auto;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.mat-list-icon,
.mat-list-text {
  /* display: inline-block;*/
  vertical-align: middle; /* Alinea verticalmente los iconos */
}

.mat-list-icon {
  margin-right: 2rem; /* Aumenta el espacio entre el icono y el texto */
  font-size: 24px; /* Ajusta el tamaño del icono si es necesario */
}

.mat-icon {
  margin: 0rem 0.5rem 0rem; /*probar*/
  font-size: 1.5rem;
  width: auto;
  height: auto;
}

.mat-mdc-icon-button .mdc-button__label,
.mat-mdc-icon-button .mat-icon {
  z-index: 1;
  position: absolute;
  right: -1.5px;
  top: 9px;
}

.nav-text {
  vertical-align: 0.2rem; /* Alinea verticalmente el texto */
  right: -7px;
  top: 4px;
  font-size: 35px;
  padding: 0.85rem;
  line-height: 2rem; /* Alinea con el tamaño del icono */
}

/* Opcional: mejora del estilo del toolbar */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 3rem 1rem;
  background: blueviolet;
}


.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-button-container button {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.username-span {
  height: 3rem;
  margin: 2rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  font-style: italic;
}

.logout-button {
  height: 3rem;
  margin: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 18px;

  border: 10px;
  background: black;
  border-color: whitesmoke;
}

.nav-button {
  height: 3.5rem;
  width: 5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;

  font-size: 18px;
  border: 10px;
  border-color: whitesmoke;
}

.nav-button:hover {
  background: darkorchid;
}

.tool-menu-span {
  margin: 2rem;
  font-size: 35px;
  font-weight: 600;
}

.tool-menu-icon {
  margin: 2rem;
  font-size: 35px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

