<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        
        <mat-nav-list>
            <a routerLink="./perfil-profesor" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>person</mat-icon>
                <span class="nav-text">Mi perfil</span>
            </a>
            <a routerLink="./solicitudes" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>extension</mat-icon>
                <span class="nav-text">Juegos</span>
            </a>
            <a routerLink="./reportes" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>report</mat-icon>
                <span class="nav-text">Temarios</span>
            </a>
            <a routerLink="./listado" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>school</mat-icon>
                <span class="nav-text">Mis logros</span>
            </a>
            <a routerLink="./agregar" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span class="nav-text">Estadisticas</span>
            </a>
        </mat-nav-list>    
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Estuardo Ramos - Administrador</span>
        <button mat-button class="logout-button" >
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
