<div class="form-container">
  <p class="main-title">Creacion de Ejercicio</p>
  <form class="form">
    <div class="input-group">
      <label for="tipo-ejercicio">Tipo de Ejercicio</label>
      <select id="tipo-ejercicio" [(ngModel)]="tipoEjercicio" name="tipoEjercicio" (change)="seleccionarTipo($event)">
        <option value="" disabled selected>Seleccione un tipo de ejercicio</option>
        <option value="opcion-multiple">Opción Múltiple</option>
        <option value="pregunta-respuesta">Pregunta y Respuesta</option>
        <option value="unir-parejas">Unir Parejas</option>
      </select>
    </div>
  </form>
  <div *ngIf="tipoEjercicio === 'opcion-multiple'">
    <app-opcion-multiple></app-opcion-multiple>
  </div>
  <div *ngIf="tipoEjercicio === 'pregunta-respuesta'">
    <app-pregunta-respuesta></app-pregunta-respuesta>
  </div>
  <div *ngIf="tipoEjercicio === 'unir-parejas'">
    <app-unir-parejas></app-unir-parejas>
  </div>
</div>
