.ejercicio-container {
  width: 19rem;
  border: 1px solid #ccc;
  background-color: #272727;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  margin: auto;
  padding: 1rem 0rem 2rem 0rem;
  text-align: center;

  /* Para Boton "x" */
  position: relative;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.header {
  width: 100%;
}

.main-title {
  padding: 0 0 1rem 0;
}

.close-button {
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #e74c3c;
  color: #fff;
  border: 2px solid #d1d5db;
  font-size: 1rem;
  font-weight: 300;
  width: 1rem;
  height: 1.2rem;
  border-radius: 7px;
  transition: 0.3s ease;
}

.close-button:hover {
  background-color: #ee0d0d;
  border: 2px solid #d1d5db;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem 1rem 1rem 1rem; /* 2rem horizontal*/
}

.select-group {
  width: 80%;
  margin: auto;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: left;
}

.form select {
  background-color: #333;
  border: 1px solid #555;
  border-radius: 4px;
  color: #fff;

  padding: 10px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 1rem;
}

.ejercicio-card {
  width: 100%;
  margin: auto;
}

body {
  background-color: #000000; 
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
