<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./perfil-admin" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>check_circle_outline</mat-icon>
                <span class="nav-text">Mi perfil</span>
            </a>
            <a routerLink="./solicitudes" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>check_circle_outline</mat-icon>
                <span class="nav-text">Administracion de temarios</span>
            </a>
            <a routerLink="./reportes" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>report</mat-icon>
                <span class="nav-text">Reportes</span>
            </a>
            <a routerLink="./listado" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>assignment_ind</mat-icon>
                <span class="nav-text">Usuarios</span>
            </a>
            <a routerLink="./agregar" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span class="nav-text">Agregar temario</span>
            </a>
            <a routerLink="./buscar" 
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span class="nav-text">Buscar</span>
            </a>
        </mat-nav-list>    
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>Estuardo Ramos - Administrador</span>
        <button mat-button class="logout-button" >
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
