<div class="tema-container">
  <div class="header">
    <button type="button" class="close-button" (click)="eliminarTema()">x</button>
    <h3 class="main-title">Tema</h3>
  </div>

  <form class="form">
    <div class="title-group">
      <label for="title">Titulo:</label>
      <input type="text" name="tema-title-input" [(ngModel)]="tema.titulo" id="tema-title" placeholder="Factorización"
        required>
    </div>

    <div class="description-group">
      <label for="description">Descripción:</label>
      <textarea type="text" name="tema-description-input" [(ngModel)]="tema.descripcion" id="tema-description"
        placeholder="Técnica de descomposición de factores de una expresión algebraica en forma de producto"
        required></textarea>
    </div>

    <div class="ejercicios-group" *ngIf="newtema.ejercicios.length > 0">
      <label for="new-ejercicio" class="ejercicios-label">Ejercicios:</label>
      <app-ejercicio *ngFor="let ejercicio of newtema.ejercicios; let i = index" [tema]="newtema" [index]="index"
        (eliminarEjercicioEvent)="eliminarEjercicio(i)"></app-ejercicio>
      <br>
    </div>
    <div class="button-group">
      <button type="button" class="new-ejercicio-button" (click)="mostrarEjercicioComponent()">+ Ejercicio</button>
    </div>
  </form>
</div>
