.mat-mdc-form-field {
  margin-top: 16px;
}

.div-mat-tab {
  padding: 0.5rem;
  /* width: 30rem; */
  /*margin: auto;*/
}

.mat-column-descripcion {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.crear-tema-container{
  display: grid;
}