.form-container {
  width: 100%;
  text-align: center;
  justify-content: center;
  /*max-width: 800px;*/
  border-radius: 0.75rem;
  background-color: #333;
  border: 1px solid #fff;
  padding: 1rem 0rem 1rem 0rem;
  /* margin: 0 auto /* Centro horizontal */
}

.title {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

.description {
  padding: 1rem 0rem 2rem 0rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}

.select-group {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.select-group mat-form-field {
  width: 20%;
}

.tipo-ejercicios {
  padding: 1rem 0 1rem 0;
}

.temas-temarios {
  padding: 1rem 0 1rem 0;
}

.temas {
  padding: 0 0.5rem 0 0.5rem;
}

button {  
  background-color: #444;
  color: #fff;

  padding: 0.75rem;
  text-align: center;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}