<div class="opcion-multiple-container">
  <h3>Opción Múltiple</h3>
  <div class="input-group">
    <label for="pregunta">Pregunta</label>
    <input type="text" [(ngModel)]="pregunta" id="pregunta" placeholder="Escribe la pregunta" required>
  </div>
  <div class="opciones-group">
    <label>Opciones</label>
    <div *ngFor="let opcion of opciones; let i = index">
      <input type="text" [(ngModel)]="opciones[i]" (input)="agregarOpcion(i, $any($event.target).value)" placeholder="Opción {{i + 1}}" required>
      <input type="radio" name="respuestaCorrecta" [value]="i" [(ngModel)]="respuestaCorrecta" (change)="seleccionarRespuesta(i)"> Correcta
    </div>
  </div>
</div>
